:root {
  --bg: #0f172a;
  --card-bg: #111827;
  --sidebar-bg: #020617;

  --border: #1f2937;
  --hover: #1e293b;

  --text-primary: #e5e7eb;
  --text-secondary: #cbd5e1;
  --text-muted: #64748b;

  --accent: #2563eb;
  --accent-dim: #1e40af;

  --danger: #ef4444;
  --warning: #f59e0b;
  --success: #22c55e;
  --police-blue: #3b82f6;

  --font-mono: monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: inherit;
}

input, select {
  font-family: inherit;
}
